.formulario {
  width: 100%;
}

.campo {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }

  label {
    flex: 0 0 9rem;
    color: $blanco;
    font-size: 2rem;
  }

  input {
    flex: 1;
    border: none;
    padding: calc($separacion / 4);
    border-radius: 1rem;
  }

}

.alerta {
  padding: calc($separacion / 2);
  text-align: center;
  display: block;

  &.error {
    background-color: #a23;
    color: $blanco;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: $bold;
  }
}