.paginacion {
  padding: $separacion 0;
  display: flex;
  justify-content: space-between;

  button {
    padding: 1rem 3rem;
    background-color: $azul;
    color: $blanco;
    font-size: 1.8rem;
    font-weight: $black;
    border: none;
    cursor: pointer;
    text-transform: uppercase;

    &.ocultar {
      visibility: hidden;
    }
  }
}